#main_wrapper * {
  font-size: 1.3vw;
  word-break: keep-all;
}
body {
  background-color: rgb(239, 241, 250);
}
div.bg-white {
  background-color: rgb(239, 241, 250) !important;
  z-index: 6;
}
.unselect {
  border: 0px !important;

  background-color: inherit;
  border-radius: 5px 5px 0px 0px;
}
#cate_box,
#all_box {
  border: 1px solid black !important;
  background-color: white !important;
}
#all_box {
  border-radius: 0px 15px 15px 15px;
}
#cate_box {
  border-radius: 15px 15px 15px 15px;
}
.select {
  border: 1px solid black;
  border-bottom: 0px;
  background-color: antiquewhite;
  border-radius: 5px 5px 0px 0px;
}
.bg-blue {
  background-color: #0d6efd !important;
}
#level {
  background-color: #eff0f6 !important;
}
#cate_box {
  display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
