#icon_name {
  font-size: 3vw;
}
#icon_size,
#icon_file {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
	min-height: 0px !important;
}
#main_wrapper{
	margin-bottom:15%;
}