#cart_wrapper {
  margin-top: 10%;
}
#cart_wrapper * {
  font-size: 1.5vw;
  font-weight: bolder;
}
#use_img {
  height: 100%;
  width: 100%;
}
/* 오른쪽 */
.border-gray {
  border-color: rgb(213, 213, 213);
}
#writer {
  font-weight: normal;
}
#delivery * {
  opacity: 70%;
}
.bg-gray {
  background-color: rgb(213, 213, 213);
}
#plus,
#minus {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
