#inner_box {
  margin-top: 15%;
}
#inner_box * {
  font-size: 1vw;
}
.bg-gray {
  background-color: rgb(233, 236, 239) !important;
}
.border-gray {
  border-color: rgb(212, 212, 212) !important;
}
#Content {
  height: 150vh;
  background-image: url("../img/subscribe_String2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#subscribe_String {
  width: 100%;
}
#brbrbrbr {
  height: 30vw;
}
