#main_wrapper * {
  font-size: 1.5vw;
  font-weight: bolder;
  margin: 0px;
}
#middle_menu {
  margin-top: 2% !important;
}
#middle_menu * {
  word-break: keep-all;
}
#under_menu {
  margin-top: 2%;
}
#under_topText {
  display: flex;

  align-items: center;
}

#day_find > * {
  border-top: 1px solid blue;
}
#option_find > * {
  border-top: 1px solid gray;
  border-bottom: 1px solid blue;
}
#day_title,
#option_title {
  border-right: 2px solid gray;
  background-color: rgb(247, 247, 247);
  padding: 2% !important;
  text-align: center;
}

#middle_menu > * > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#day_select {
  padding: 0px;
}
#option_input {
  margin-top: 3%;
}
#btn {
  margin-top: 1%;
}
#btn button {
  background-color: royalblue;
}
