<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias alias="myboard" type="tommy.spring.web.board.BoardVO" /> -->
		<typeAlias type="com.romance.socket.chatVO" alias="chat" />
	</typeAliases>
	<mappers>
		<!-- <mapper resource="mappings/board-mapping.xml" /> -->
		<mapper resource="mappings/ajax-mapping.xml" />
	</mappers>
</configuration>