<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Mybatis에서 테이블의 언더바(_) 컬럼을 카멜형식으로 변환설정 -->
	<!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase 형태의 자바 프로퍼티명 형태인 aColumn으로 
		자동으로 매핑하도록 한다. -->


	<typeAliases>
		<!-- <typeAlias alias="myboard" type="tommy.spring.web.board.BoardVO" /> -->
		<typeAlias type="com.romance.socket.chatVO" alias="chatVO" />
		<typeAlias type="com.romance.socket.chatSearchVO"
			alias="chatsearchVO" />
		<typeAlias type="com.romance.admin.notice.NoticeVO"
			alias="notice" />
		<typeAlias
			type="com.romance.admin.sample.category.CategoryVO"
			alias="categoryVO" />
		<typeAlias
			type="com.romance.admin.sample.category.CateSearchVO"
			alias="cateSearchVO" />
		<typeAlias
			type="com.romance.admin.sample.navcategory.NavCategoryVO"
			alias="navcategoryVO" />
		<typeAlias type="com.romance.admin.login.AdminUserVO"
			alias="adminUserVO" />
		<typeAlias type="com.romance.admin.account.Criteria"
			alias="criteria" />
		<typeAlias type="com.romance.user.event.EventVO"
			alias="event_event" />
		<typeAlias type="com.romance.socket.API" alias="API" />
		<typeAlias type="com.romance.admin.sub.SubscribeVO"
			alias="subscribe" />
		<typeAlias type="com.romance.user.bucket.BucketVO"
			alias="bucketVO" />
		<typeAlias type="com.romance.user.bucket.BucketSearchVO"
			alias="bucketsearchVO" />
		<typeAlias type="com.romance.admin.icon.IconVO" alias="icon" />
		<typeAlias type="com.romance.admin.icon.BannerVO"
			alias="banner" />
		<typeAlias type="com.romance.admin.sub.SubscribeVO"
			alias="subscribe" />
		<typeAlias type="com.romance.admin.terms.TermsVO"
			alias="termsVO" />
		<typeAlias type="com.romance.admin.terms.TermsSearchVO"
			alias="termssearchVO" />
		<typeAlias type="com.romance.admin.coupon.CouponVO"
			alias="couponVO" />
		<typeAlias type="com.romance.admin.coupon.UserCouponVO"
			alias="userCouponVO" />
		<typeAlias type="com.romance.admin.coupon.CouponSearchVO"
			alias="couponsearchVO" />
		<typeAlias type="com.romance.admin.notice.NoticeSearchVO"
			alias="noticeSearchVO" />
		<typeAlias type="com.romance.user.book.BookVO"
			alias="bookVO" />
		<typeAlias type="com.romance.user.book.BookSearchVO"
			alias="booksearchVO" />
		<typeAlias type="com.romance.user.reply.ReplyVO"
			alias="replyVO" />
		<typeAlias type="com.romance.user.reply.ReplysearchVO"
			alias="replysearchVO" />
		<typeAlias type="com.romance.user.reply.FineVO"
			alias="fineVO" />
		<typeAlias type="com.romance.admin.faq.FaqVO" alias="faq" />
		<typeAlias type="com.romance.admin.faq.FaqSearchVO"
			alias="faqSearch" />
		<typeAlias type="com.romance.user.login.UserVO"
			alias="userVO" />
		<typeAlias type="com.romance.user.orders.OrderBookListVO"
			alias="orderbooklistVO" />
		<typeAlias type="com.romance.admin.dashboard.DashVO"
			alias="dashVO" />
		<typeAlias type="com.romance.admin.product.ProductVO"
			alias="pro" />
		<typeAlias type="com.romance.admin.product.ProductSearchVO"
			alias="pros" />

		<typeAlias type="com.romance.user.orders.OrdersVO"
			alias="ordersVO" />

		<typeAlias
			type="com.romance.user.usecategory.UserCategoryVO"
			alias="usercategoryVO" />
		<typeAlias type="com.romance.admin.qna.AskVO" alias="ask" />
		<typeAlias type="com.romance.admin.qna.AskReplyVO"
			alias="askReply" />
		<typeAlias type="com.romance.admin.qna.AskSearchVO"
			alias="askSearch" />
		<typeAlias type="com.romance.user.my.request.MyRequestVO"
			alias="myRequestVO" />

		<typeAlias type="com.romance.user.concern.ConcernWriterVO"
			alias="concernVO" />
		<typeAlias type="com.romance.user.concern.ConcernSearchVO"
			alias="concernsearchVO" />




		<typeAlias
			type="com.romance.user.my.request.MyRequestReplyVO"
			alias="myRequestReplyVO" />

		<typeAlias
			type="com.romance.user.my.request.MyRequestReplyVO"
			alias="myRequestReplyVO" />
		<typeAlias type="com.romance.admin.reply.ReplyVO"
			alias="reply" />
		<typeAlias type="com.romance.admin.reply.ReplySearchVO"
			alias="replySearch" />
		<typeAlias type="com.romance.admin.reply.ReplyJoinVO"
			alias="replyJoin" />

		<typeAlias type="com.romance.user.coupon.MyCouponVO"
			alias="mycouponVO" />
		<typeAlias type="com.romance.user.coupon.MyCouponSearchVO"
			alias="mycouponsearchVO" />
		<typeAlias type="com.romance.user.points.MyPointsVO"
			alias="mypointsVO" />
		<typeAlias type="com.romance.user.points.MyPointsSearchVO"
			alias="mypointssearchVO" />

		<typeAlias type="com.romance.user.my.delivery.DeliveryVO"
			alias="deliveryVO" />

		<typeAlias type="com.romance.admin.author.AdminAuthorVO"
			alias="adminauthorVO" />
		<typeAlias
			type="com.romance.admin.author.AdminAuthorSearchVO"
			alias="adminauthorsearchVO" />
		<typeAlias type="com.romance.admin.trade.TradeJoinVO"
			alias="tradejoinVO" />
		<typeAlias type="com.romance.admin.trade.TradeSearchVO"
			alias="tradesearchVO" />
		<typeAlias type="com.romance.user.orders.PurchaseJoinVO"
			alias="purchaseJoin" />
		<typeAlias type="com.romance.user.orders.PurchaseSearchVO"
			alias="purchaseSearch" />
		<typeAlias type="com.romance.admin.log.LoginLogVO"
			alias="loginLogVO" />


	</typeAliases>



	<mappers>
		<!-- <mapper resource="mappings/board-mapping.xml" /> -->
		<mapper resource="mappings/adminTerms-mapping.xml" />
		<mapper resource="mappings/terms-mapping.xml" />
		<mapper resource="mappings/ajax-mapping.xml" />
		<mapper resource="mappings/adminNotice-mapping.xml" />
		<mapper resource="mappings/category-mapping.xml" />
		<mapper resource="mappings/navcategory-mapping.xml" />
		<mapper resource="mappings/event-mapping.xml" />
		<mapper resource="mappings/adminuser-mapping.xml" />
		<mapper resource="mappings/sub-mapping.xml" />
		<mapper resource="mappings/icon-mapping.xml" />
		<mapper resource="mappings/banner-mapping.xml" />
		<mapper resource="mappings/sub-mapping.xml" />
		<mapper resource="mappings/reply-mapping.xml" />
		<mapper resource="mappings/fine-mapping.xml" />
		<mapper resource="mappings/coupon-mapping.xml" />
		<mapper resource="mappings/book-mapping.xml" />
		<mapper resource="mappings/adminFaq-mapping.xml" />
		<mapper resource="mappings/bucket-mapping.xml" />
		<mapper resource="mappings/login-mapping.xml" />
		<mapper resource="mappings/order-mapping.xml" />
		<mapper resource="mappings/admin-dashboard.xml" />
		<mapper resource="mappings/usercategory-mapping.xml" />
		<mapper resource="mappings/adminQna-mapping.xml" />
		<mapper resource="mappings/product-mapping.xml" />
		<mapper resource="mappings/userrequest-mapping.xml" />
		<mapper resource="mappings/concernwriter-mapping.xml" />
		<mapper resource="mappings/adminReply-mapping.xml" />
		<mapper resource="mappings/points-mapping.xml" />
		<mapper resource="mappings/usercoupon-mapping.xml" />
		<mapper resource="mappings/profile-mapping.xml" />
		<mapper resource="mappings/adminuserdetail-mapping.xml" />
		<mapper resource="mappings/userdelivery-mapping.xml" />
		<mapper resource="mappings/adminauthor-mapping.xml" />
		<mapper resource="mappings/userorder-mapping.xml" />
		<mapper resource="mappings/usermain-mapping.xml" />
		<mapper resource="mappings/trade-mapping.xml" />
		<mapper resource="mappings/logging-mapping.xml" />
	</mappers>
</configuration>