<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Mybatis에서 테이블의 언더바(_) 컬럼을 카멜형식으로 변환설정 -->
	<!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase 형태의 자바 프로퍼티명 형태인 aColumn으로 자동으로 매핑하도록 한다. -->
	<!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase 형태의 자바 프로퍼티명 형태인 aColumn으로 
		자동으로 매핑하도록 한다. -->
	

	<typeAliases>
		<!-- <typeAlias alias="myboard" type="tommy.spring.web.board.BoardVO" /> -->
		<typeAlias type="com.romance.socket.chatVO" alias="chat" />
		<typeAlias type="com.romance.admin.notice.NoticeVO"
			alias="notice" />
		<typeAlias
			type="com.romance.admin.sample.category.CategoryVO"
			alias="categoryVO" />
		<typeAlias
			type="com.romance.admin.sample.category.CateSearchVO"
			alias="cateSearchVO" />
		<typeAlias
			type="com.romance.admin.sample.navcategory.NavCategoryVO"
			alias="navcategoryVO" />
		<typeAlias type="com.romance.admin.login.AdminUserVO"
			alias="adminUserVO" />
		<typeAlias type="com.romance.user.event.EventVO" alias="event_event" />
		<typeAlias type="com.romance.socket.API" alias="API" />
		<typeAlias type="com.romance.admin.terms.termsVO" alias="termsVO" />
		<typeAlias type="com.romance.admin.coupon.CouponVO" alias="couponVO" />
		<typeAlias type="com.romance.admin.coupon.CouponSearchVO" alias="couponsearchVO" />

		<typeAlias type="com.romance.admin.notice.NoticeSearchVO" alias="noticeSearchVO"/>

	</typeAliases>
	<mappers>
		<!-- <mapper resource="mappings/board-mapping.xml" /> -->
		<mapper resource="mappings/adminTerms-mapping.xml" />
		<mapper resource="mappings/ajax-mapping.xml" />
		<mapper resource="mappings/adminNotice-mapping.xml"/>
		<mapper resource="mappings/category-mapping.xml" />
		<mapper resource="mappings/navcategory-mapping.xml" /> 
		<mapper resource="mappings/event-mapping.xml" />
		<mapper resource="mappings/adminuser-mapping.xml" />
		<mapper resource="mappings/coupon-mapping.xml" />
	</mappers>
</configuration>