#main_wrapper{
	margin-bottom: 2%;
}
#main_name {
  font-size: 3vw;
}
#sub_Price {
  width: 80%;
}
#sub_Guide1 {
  width: 100%;
  height: 200px;
}
#sub_Guide2 {
  width: 100%;
  height: 200px;
}
input{
	min-height: 0px !important;
}