#bigbig_title {
  font-size: 3vw;
  font-weight: 700;
}
input {
	min-height: 0px !important;
	text-align: center;
}
/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
#book_descript{
	width:100%;
}
input[type=text], input[type=file], input[type=date], input[type=number]{
	height:40px;
	font-size:1.2vw;
	text-align: center;
}
textarea{
	font-size:1.2vw;	
}
button{
	height: 40px;
	font-size:1.3vw !important;
}
#announce{
	color: gray;
}