#main_wrapper * {
  font-size: 1vw;
  word-break: keep-all;
}
body {
  background-color: rgb(239, 241, 250);
}
div.bg-white {
  background-color: rgb(239, 241, 250) !important;
  z-index: 6;
}
.unselect {
  border: 0px !important;

  background-color: inherit;
  border-radius: 5px 5px 0px 0px;
}
#cate_box,
#all_box {
  border: 1px solid black !important;
  background-color: white !important;
}
.select {
  border: 1px solid black;
  border-bottom: 0px;
  background-color: antiquewhite;
  border-radius: 5px 5px 0px 0px;
}
.bg-blue {
  background-color: #0d6efd !important;
}
#level {
  background-color: #eff0f6 !important;
}
#cate_box {
  display: none;
}

#datepicker{
	margin-bottom: 2%;
}
#day_find > * {
  border-top: 1px solid blue;
}
#option_find > * {
  border-top: 1px solid gray;
  border-bottom: 1px solid blue;
}
#day_title,
#option_title {
  border-right: 2px solid gray;
  background-color: rgb(247, 247, 247);
  padding: 2% !important;
  text-align: center;
}
#day_btn {
  padding: 2% !important;
}
#dayAdd > * {
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247) !important;
  color: black;
}
#dayAdd > *:first-child {
  border-radius: 50px 0px 0px 50px;
}
#dayAdd > *:last-child {
  border-radius: 0px 50px 50px 0px;
}
#middle_menu > * > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#day_select,
#day_calendar,
#day_btn {
  padding: 0px;
}
#option_input {
  margin-top: 3%;
}
#day_calendar {
  display: flex;
/*  justify-content: center; */
}

.notice_font{
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: larger;
}

.pagination *{
   cursor:pointer;
}

#main_wrapper{
	margin-left: 2% !important;
}

.note-frame{
	border: 0px !important;
}

