
h1 {
  font-size: 3vw !important;
}
#main_wrapper * {
  font-size: 1vw;
}
#bookimg {
  width: 100%;
}

/*subscribePay에서 복사*/
#usable_point > p {
  padding-top: 0px;
  margin-top: 0px;
}
#top_border {
  padding-top: 20px;
  border-top: 2px solid #666666;
}
#top_border_nopd {
  border-top: 2px solid #666666;
}
#top_border_bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #666666;
}
#input_text_size {
  width: 100%;
}
#usePoint {
  width: 100%;
}
#big_big {
  font-size: 2vw;
  padding: 0px;
}
#naaav {
  background-color: antiquewhite;
}
#main_wrapper {
  margin-top: 15%;
}
#howmuchsub,
#usepoint {
  text-align: right;
}
#whysoclose {
  margin-bottom: 20px;
}
#whysoclose > div > button {
  background-color: rgb(148, 148, 148);
  border-color: rgb(148, 148, 148);
}
#whisper > li {
  font-size: 0.5em;
  color: rgb(166, 166, 167);
}
#deliver {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
/*subscribe에서 복사*/
#book_count{
	background-color:transparent;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#book_count{
	pointer-events:none;
}