#main_wrapper * {
  font-size: 0.8vw;
  font-weight: bolder;
  margin: 0px;
}
#order {
  display: flex;
  padding: 0px !important;
}
img {
  padding: 0px !important;
  margin: 0px !important;
}
#arrowimg {
  display: flex;
  justify-content: flex-start;
}
#top_row {
  border: 2px solid gray;
  height: 10vw;
  border-radius: 10px;
}
#top_total {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
}
#top_total * {
  font-size: 1vw;
  padding: 0px;
}
#top_totalCount {
  display: flex;
  justify-content: flex-end;
}
/* 중간 */
#middle_menu {
  margin-top: 2% !important;
}
#middle_menu * {
  word-break: keep-all;
}
#day_find > * {
  border-top: 1px solid blue;
}
#option_find > * {
  border-top: 1px solid gray;
  border-bottom: 1px solid blue;
}
#day_title,
#option_title {
  border-right: 2px solid gray;
  background-color: rgb(247, 247, 247);
  padding: 2% !important;
  text-align: center;
}
#day_btn {
  padding: 2% !important;
}
#dayAdd > * {
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247) !important;
  color: black;
}
#dayAdd > *:first-child {
  border-radius: 50px 0px 0px 50px;
}
#dayAdd > *:last-child {
  border-radius: 0px 50px 50px 0px;
}
#middle_menu > * > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#day_select,
#day_calendar,
#day_btn {
  padding: 0px;
}
#option_input {
  margin-top: 3%;
}
#day_calendar {
  display: flex;
  justify-content: center;
}
/* 하단 */
#under_menu {
  margin-top: 2%;
}
#under_topText {
  display: flex;
}
#table_title {
  background-color: rgb(224, 224, 224);
  border-radius: 20px 20px 0px 0px;
  margin-top: 2%;
}
#table_title * {
  padding: 1%;
}
#table_title > *,
#table_item > *,
#table_bottom > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#table_item {
  margin: 1% 0%;
}
#table_bottom {
  background-color: rgb(224, 224, 224);
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 2%;
}
#table_bottom * {
  padding: 2px;
  background-color: transparent;
}
/* 별 */
