#main_wrapper * {
  font-size: 1.3vw;
  padding: 0px;
  margin: 0px;
  font-weight: bolder;
}

.bg-secondary {
  background-color: rgb(224, 224, 224) !important;
}
.border-primary {
  border-top: 2px solid blue !important;
}
.border-primary1 {
  border-bottom: 2px solid blue !important;
}
#title {
  text-align: center;
  align-items: center;
  display: flex;
}
#content {
  display: flex;
  align-items: center;
}
#datepicker,
#email_input {
  height: 1.5vw;
  font-size: 1.5vw;
}
.form-check {
  display: flex;
  align-items: center;
}
#alert_top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
#content_mail,
#content_phone {
  display: flex;
 
  padding: 0% 1% !important;
}
#content_phone > input {
  height: 1.5vw;
  font-size: 1.5vw;
}
#add_find {
  margin: 0px !important;
}
#alert_add {
  margin-left: 5%;
}
#bol {
  text-decoration: underline;
  display: inline;
}
.subbtn {
	box-shadow: 1px 0px 0px -50px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 2px 0px #5b6178;
}
.subbtn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.subbtn:active {
	position:relative;
	top:1px;
}

       
