#main_wrapper * {
  font-size: 1.3vw;
  padding: 0px;
  margin: 0px;
  font-weight: bolder;
}

.bg-secondary {
  background-color: rgb(224, 224, 224) !important;
}
.border-primary {
  border-top: 2px solid blue !important;
}
.border-primary1 {
  border-bottom: 2px solid blue !important;
}
#title {
  text-align: center;
  align-items: center;
  display: flex;
}
#content {
  display: flex;
  align-items: center;
}
#datepicker,
#email_input {
  height: 1.5vw;
  font-size: 1.5vw;
}
.form-check {
  display: flex;
  align-items: center;
}
#alert_top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
#content_mail,
#content_phone {
  display: flex;
  align-items: center;
  padding: 0% 1% !important;
}
#content_phone > input {
  height: 1.5vw;
  font-size: 1.5vw;
}
#add_find {
  margin: 0px !important;
}
#alert_add {
  margin-left: 5%;
}
#bol {
  text-decoration: underline;
  display: inline;
}
