@charset "UTF-8";

#review_name {
	margin-top: 4%;
}

#review_name2 {
	margin-top: 10%;
}

#review_title {
	margin-top: 2%;
	margin-bottom: 2%;
}

.review_img {
	margin: auto;
}

.review_hr {
	border: 1px solid black;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	margin-top: 2%;
	margin-bottom: 2%;
}

#review_textarea {
	margin-bottom: 1.5%;
}

#review_btn {
	margin-bottom: 2%;
}

#review_btn>* {
	margin-right: 10%;
}

.review_box{
	background-color: rgb(247, 247, 247);
	border-radius: 15px;
	height: 220px;
}

.note-color-all button.active +.note-dropdown-menu>div:nth-child(2) {

   display:none !important;
}
.note-color-all button.active +.note-dropdown-menu {

   min-width:0px !important;
}
