#main_wrapper * {
  font-size: 0.8vw;
  font-weight: bolder;

  margin: 0px;
}
/* 테이블 */
#under_menu {
  margin-top: 2%;
}
#under_topText {
  display: flex;

  align-items: center;
}
#table_title {
  background-color: rgb(224, 224, 224);
  border-radius: 20px 20px 0px 0px;
  margin-top: 2%;
}
#table_title * {
  padding: 1%;
}
#table_title > *,
#table_item > *,
#table_bottom > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#table_item {
  margin: 1% 0%;
}
#table_bottom {
  background-color: rgb(224, 224, 224);
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 2%;
}
#table_bottom * {
  padding: 1px;
  background-color: transparent;
  margin: 0px;
}
/* star */
#myform {
  font-size: 1.5vw;
  text-align: left;
}
#myform fieldset {
  display: flex; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl; /* 이모지 순서 반전 */
  border: 0; /* 필드셋 테두리 제거 */
}
#myform fieldset legend {
  text-align: left;
  display: flex;
}
#myform input[type="radio"] {
  display: none; /* 라디오박스 감춤 */
}
#myform label {
  font-size: 1vw; /* 이모지 크기 */
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#myform input[type="radio"]:checked ~ label {
  text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}
