#main_wrapper * {
  font-size: 1.5vw;
  font-weight: bolder;

  margin: 0px;
}
#top_title {
  display: flex;
  margin-top: 5%;
  align-items: center;
}
.border-primary {
  border-top: 1px solid blue !important;
}
.bg-secondary {
  background-color: rgb(224, 224, 224) !important ;
}
.border-primary1 {
  border-bottom: 1px solid blue !important;
}
#label {
  font-size: 0.8vw;
}
