#inner_box {
  margin-top: 15%;
}
#inner_box * {
  font-size: 1vw;
}
.bg-gray {
  background-color: rgb(233, 236, 239) !important;
}
.border-gray {
  border-color: rgb(212, 212, 212) !important;
}
#Content {
	margin-top: 1%;
	overflow: auto;
}

.title{
	font-weight: bold;
	font-size: medium;
}

#endPoint *{
   cursor:pointer;
}

#img{
	width: 30%;
	height: 50%;
}
