@charset "UTF-8";

.cs_top{
	margin-top: 9%;
}
.cs_input{
	align-items: center;
	display: flex;
}

#cs_name {
	font-size: 2rem;
	font-weight: bold; margin-top : 2%;
	margin-bottom: 2%;
}

#cs_name2 {
	font-size: 2rem;
	font-weight: bold; 
}

#cs_line {
	border: 1px solid black;
	border-left: 0px;
	border-right: 0px;
}
#cs_btn{
	margin-bottom: 4%;
	margin-right: 10%;
}

#cs_faq>* {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2%;
	margin-bottom: 2%;
}
#cs_faq>*>*{
	margin-top: 5%;
}

#cs_faq a {
	text-align: center;
}

#cs_faq {
	display: flex;
	justify-content: space-around;
}

#cs_hr{
	border-bottom: 1px solid black;
	margin-bottom: 2%;
}

.cs_qna{
	margin-top: 13% !important;
}

#form-select1{
	margin-top: 1%;
	margin-bottom: 1%;
}

.table{
	margin-top: 1%;
}
#table_payment>*{
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	align-items: center;
	justify-content: center;
}
#table_payment>*>*{
	border-bottom: 1px solid black;
	border-top: 0px;
	border-right: 0px;
	margin: 0px;
	padding: 0px;
}
#table_payment_height>*{
	border-top: 1px solid black;
}
#table_payment_content{
	font-weight: normal;
	font-size: 1rem;
}

#table_table2>*{
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#table_table2>*>*{
	border-bottom: 1px solid black;
	border-top: 0px;
	border-right: 0px;
	margin: 0px;
	padding: 0px;
}
#table_height2>*{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#table_content2{
	font-weight: normal;
	font-size: 1rem;
	align-items: center;
	text-align: center;
}

.hide{
	display: none !important;
}

.pagination *{
   cursor:pointer;
}

#img{
	margin-bottom: 1%;
	width: 30%;
	height: 50%;
}
